{% extends 'layout.html' %}
{% block content %}

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">

<div class=" card-shadow-primary mb-3 card card-body border-primary">
{% for page in pages.items %}
<h4 class="card-title">
<a href="/blog/one-post={{ page.id }}" style="text-decoration:none;">
{{page.title}}
</a>
</h4>
<hr>


{% endfor %}



<!-- posts is a Paginate object -->

{% if 2 == 2 %}
<ul class="pagination">

    <li{% if not pages.has_prev %}  class="page-item disabled "{% endif  %} >
       <a href="./?page={{ pages.prev_num }}" class="page-link" aria-label="Previous">
           <span aria-hidden="true" > << </span>
       </a>
    </li>

   <!-- -->
    {% for page in pages.iter_pages() %}
    <li { % if page == pages.page %}class="page-item active"{ % endif %}>
       <a href="./?page={{ page }}" class="page-link">{{ page }}</a>
   </li>
    {% endfor %}
   <!-- -->


   <li {% if not pages.has_next %}  class="page-item disabled" {% endif  %}>
       <a href="./?page={{ pages.next_num }}" class="page-link" aria-label="Previous">
           <span aria-hidden="true" > >> </span>
       </a>
   </li>

</ul>
{% endif %}
</div>
</div>

{% endblock %}
