{% extends "layout.html" %}
{% block content %}


<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                      <h5 class="card-title">Edit-Post</h5>
                       {% for i in post %}
                        <form action="/blog/post-edit={{i.id}}" method="post" enctype="multipart/form-data"  >
                           <input name="title" value="{{ i.title|safe }}"  placeholder="title" type="text" class="form-control">
                           <textarea name="body" id="post" type="text" rows="5" class="">{{ i.body|safe }}</textarea>
                           <input name="image" id="file"  type="file" class="form-control-file">
                            </div>
                            <button class="mt-1 btn btn-info" type="submit">Add</button>
                        </form>
                      <!-- <script>document.getElementById("post").value = "{{ i.body }}";</script>-->
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    tinymce.init({
    selector: '#post',
    plugins: [
      'autoresize',
      'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor codesample'
    ],
    imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons | codesample',
    images_upload_url: '{{ url_for('posts.imageuploader') }}',
    automatic_uploads: true,
    images_reuse_filename: false,
    images_upload_base_path: '/',
    codesample_languages: [
      {text: 'HTML/XML', value: 'markup'},
      {text: 'JavaScript', value: 'javascript'},
      {text: 'CSS', value: 'css'},
      {text: 'Processing', value: 'processing'},
      {text: 'Python', value: 'python'}
    ]
    });
</script>


{% endblock  %}
