{% extends 'layout.html' %}

{% block title %}
  Blog
{% endblock %}

{% block content %}


{% for page in pages.items %}

{{ page.title }}

{{ page.body }}


{% endfor %}


<!-- posts is a Paginate object -->


<ul class="pagination">

    <li{% if not pages.has_prev %}  class="page-item disabled "{% endif  %} >
       <a href="./?page={{ pages.prev_num }}" class="page-link" aria-label="Previous">
           <span aria-hidden="true" > << </span>
       </a>
    </li>

   <!-- -->
    {% for page in pages.iter_pages() %}
    <li { % if page == pages.page %}class="page-item active"{ % endif %}>
       <a href="./?page={{ page }}" class="page-link">{{ page }}</a>
   </li>
    {% endfor %}
   <!-- -->


   <li {% if not pages.has_next %}  class="page-item disabled" {% endif  %}>
       <a href="./?page={{ pages.next_num }}" class="page-link" aria-label="Previous">
           <span aria-hidden="true" > >> </span>
       </a>
   </li>

</ul>




{% endblock %}
