<div class="container">
<link href="../static/css/resume.css" rel="stylesheet">
<div class="wrapper">
<div class="sidebar-wrapper">
<div class="profile-container">
<img class="img-rounded" src="../static/img/profile.png" alt="" />
<h1 class="name">Yatsko Grigoriy</h1>
<h3 class="tagline">DevOps, System Administrator, Network Engineer</h3>
</div>
<div class="contact-container container-block">
<ul class="list-unstyled contact-list">
<li class="email"><i class="fa fa-envelope"></i><a href="mailto: frontyatsko@gmail.com"><span class="">frontyatsko@gmail.com</span></a></li>
<li class="website"><i class="fa fa-globe"></i><a href="https://grin.golden.net.ua">grin.golden.net.ua</a></li>
<li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://ua.linkedin.com/in/яцко-григорий-8101359b">ua.linkedin.com/in/яцко-григорий-8101359b</a></li>
<li class="github"><i class="fa fa-github"></i><a href="https://github.com/YatskoGrigoriy/">github.com/YatskoGrigoriy/</a></li>
<li class="twitter"><i class="fa fa-facebook"></i><a href="https://www.facebook.com/people/Yatsko-Grigory/100004234628516">facebook.com/people/Yatsko-Grigory/</a></li>
</ul>
</div>
<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
<h4 class="degree">Specialist of Computer Systems and Networks</h4>
<h5 class="meta">National  Telecomunication University of Ukraine &#39;Kyiv Department of Software Engineering&#39;​</h5>
<div class="time"> 2020-202*</div>
</div>
</div>
<div class="language-container container-block">
<h2 class="container-block-title">Languages</h2>
<ul class="list-unstyled interests-list">
<li>English <span class="lang-desc">(Basic)</span></li>
<li>Ukrainian <span class="lang-desc">(Native)</span></li>
<li>Russian <span class="lang-desc">(Professional)</span></li>
</ul>
</div>
<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Archery</li>
<li>Fantasy and sci-fi</li>
<li>Homelab</li>
<li>#Monitoringlove</li>
 <li>Computer games</li>
</ul>
</div>
</div>
<div class="main-wrapper">
<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
<p>
 I&rsquo;m IT specialist with almost 10 years of expirience in networking, system administration and devops areas.
 I worked as Network Operations Center Engineer in different ISP&rsquo;s in Ukraine and was in core team of company which is in top 10 Ukrainian ISP&rsquo;s.
 Nowadays I&rsquo;m working as DevOps Engineer for 4 years in Berlin based companies.
 I&rsquo;m trying to use all best practices of infrastructure as a code and automation in my everyday work.
</p>
</div>
</section>
<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">DevOps Engineer</h3>
<div class="time">December 2018 - Present</div>
</div>
<div class="company">GoldenNet ISP., Kyiv</div>
</div>
<div class="details">
<p></p>
</div>
</div>
<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">Network/System Administrator</h3>
<div class="time">April 2015 - July 2018</div>
</div>
<div class="company">Eurolan ISP., Kyiv</div>
</div>
<div class="details">
<p></p>
</div>
</div>
</section>
<section class="section projects-section">
<h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
<div class="intro">
<p><strong>List of interesting projects happened in my life.</strong></p>
</div>
<div class="item">
<span class="project-title"><a href="https://kyivstar.ua/uk/mm">GoldenFiber Network (at the moment JSC Kyivstar)</a></span> - <span class="project-tagline">In 2007 I was responsible for infrastructure planning and integration for GoldenFiber company (at the moment it is acquired by JSC &lsquo;Kyivstar&rsquo;). Together with our team we built their network in Kyiv and implemented solutions that helped to build redundant network for this ISP.</span>
</div>
<div class="item">
<span class="project-title"><a href="https://skif.com.ua/">Skif ISP / Domashka.net Billing system</a></span> - <span class="project-tagline">Integrated several payment systems and improved customers expirience with new features: bonus system, payments with bonus points etc.</span>
</div>
<div class="item">
<span class="project-title"><a href="https://www.bklieferservice.de/">Burger King Lieferservice</a></span> - <span class="project-tagline">As an empoyee of DeliveryHero AG I was supporting and improving infrastructure for Burger King platform. It used AWS resources (CloudFormation, ELB, EC2, SNS, SQS etc), Puppet, Jenkins and ELK.</span>
</div>
<div class="item">
<span class="project-title"><a href="https://github.com/l13t/pyWBacula">pyWBacula</a></span> - <span class="project-tagline">Python-based web interface with report that helps you to investigate your backups on different parameters.</span>
</div>
<div class="item">
<span class="project-title"><a href="https://exchange.icinga.com/l13t/">Icinga2 plugins</a></span> - <span class="project-tagline">Different Icinga2/Nagios plugins on Icinga2 Exchange portal</span>
</div>
</section>
<section class="skills-section section">
<h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
<div class="skillset">
<div class="item">
<h3 class="level-title">Linux OS family</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="95%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">Databases</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="75%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">Monitoring: Icinga2, Zabbix, Prometheus etc</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="95%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">Virtualization</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="80%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">Containerization</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="75%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">CI/CD</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="75%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">System automation with SaltStack</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="85%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">System automation with Puppet</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="55%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">System automation with Ansible</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="65%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">VoIP</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="70%">
</div>
</div>
</div>
<div class="item">
<h3 class="level-title">Network Administration</h3>
<div class="level-bar">
<div class="level-bar-inner" data-level="90%">
</div>
</div>
</div>
</div>
</section>
</div>
</div>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"  defer=""></script>

</div>
